/* Extra small devices (phones, up to 360px) */

@media(max-width: 360px) {
	
html {
	

	}
	

	
	
header {
	height: 90vh;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	background-position:bottom;

	}
	
.logo-my {
	width: 100px;
	height: 100px;;
	
}
	
.header_name {
	font-size: 170%;
	letter-spacing: 2px;
	color: #E1F6F4;
	margin-left: 10%;
	margin-right: 10%;
    text-align: center;

}

	
	.btn__white  {
	font-size: 70%;
	letter-spacing: 1px;
	padding-right: 5%;
	padding-left: 5%;
	
}
	
li {
		display: none
	}
	
	




}
	
/* Small devices (portrait tablets and large phones, up to 654px) */

@media (min-width: 361px) and (max-width: 654px) {


html {
		

	}
	
header {
	height: 90vh;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	background-position:bottom;

	}
	
.logo-my {
	width: 100px;
	height: 100px;
	
}
	
.header_name {
	font-size: 170%;
	letter-spacing: 2px;
	color: #E1F6F4;
	margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}


	
	
	.btn__white  {
	font-size: 90%;
	letter-spacing: 1px;
	
	}

	
	li {
		 display: none;
	}
		

	
}
  
	
/* Medium devices (landscape tablets, up to ) */

@media (min-width: 655px) and (max-width: 841px) {
	
	
html {
		

	}
	
header {
	height: 90vh;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	background-position:bottom;

	}
	
.logo-my {
	height: auto;
	
}
	
.header_name {
	font-size: 180%;
	letter-spacing: 2px;
	color: #E1F6F4;

}


	
	.btn__white  {
	font-size: 90%;
	letter-spacing: 1px;

	
}
	
	



		

}
	


  
	



